<ion-header>
  <ion-toolbar>
    <ion-title>Message</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content color="light" color="primary">
  <ion-list [inset]="true">
    <ion-item-sliding>
  <a href="/communication">

      <ion-item [button]="true">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://cdn.pixabay.com/photo/2023/12/15/18/40/ai-generated-8451277_640.png" />
        </ion-avatar>
        <ion-label>Rick Astley</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="warning">
          <ion-icon slot="icon-only" name="pin"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable="true">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  </a>

    </ion-item-sliding>

    <ion-item-sliding>
      <a href="/communication">
      <ion-item [button]="true">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://cdn.pixabay.com/photo/2016/02/10/13/03/dentist-1191671_640.jpg" />
        </ion-avatar>
        <ion-label>Leeroy Jenkins</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="warning">
          <ion-icon slot="icon-only" name="pin"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable="true">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  </a>

    </ion-item-sliding>

    <ion-item-sliding>
      <a href="/communication">

      <ion-item [button]="true">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://cdn.pixabay.com/photo/2020/11/21/20/04/hospital-5765027_640.jpg" />
        </ion-avatar>
        <ion-label>Ionitron</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="warning">
          <ion-icon slot="icon-only" name="pin"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable="true">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  </a>

    </ion-item-sliding>

    <ion-item-sliding>
      <a href="/communication">

      <ion-item [button]="true">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://cdn.pixabay.com/photo/2020/06/20/15/30/woman-doctor-5321351_640.jpg" />
        </ion-avatar>
        <ion-label>Wall-E</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="warning">
          <ion-icon slot="icon-only" name="pin"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable="true">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  </a>

    </ion-item-sliding>

    <ion-item-sliding>
      <a href="/communication">

      <ion-item [button]="true">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://cdn.pixabay.com/photo/2017/09/06/20/36/doctor-2722941_640.jpg" />
        </ion-avatar>
        <ion-label>Cortana</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="warning">
          <ion-icon slot="icon-only" name="pin"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable="true">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  </a>

    </ion-item-sliding>

    <ion-item-sliding>
      <a href="/communication">

      <ion-item [button]="true">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://cdn.pixabay.com/photo/2020/06/16/17/53/people-5306730_640.jpg" />
        </ion-avatar>
        <ion-label>Bender</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="warning">
          <ion-icon slot="icon-only" name="pin"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable="true">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  </a>

    </ion-item-sliding>
    
    <ion-item-sliding>
      <a href="/communication">

      <ion-item [button]="true">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://cdn.pixabay.com/photo/2017/05/23/17/12/doctor-2337835_640.jpg" />
        </ion-avatar>
        <ion-label>Bender</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="warning">
          <ion-icon slot="icon-only" name="pin"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable="true">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  </a>

    </ion-item-sliding>

    <ion-item-sliding>
      <a href="/communication">

      <ion-item [button]="true">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://cdn.pixabay.com/photo/2017/03/13/21/41/scientist-2141259_640.jpg" />
        </ion-avatar>
        <ion-label>Bender</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="warning">
          <ion-icon slot="icon-only" name="pin"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable="true">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  </a>

    </ion-item-sliding>

    <ion-item-sliding>
      <a href="/communication">

      <ion-item [button]="true">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://cdn.pixabay.com/photo/2013/07/13/13/40/doctor-161345_640.png" />
        </ion-avatar>
        <ion-label>Bender</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="warning">
          <ion-icon slot="icon-only" name="pin"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable="true">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  </a>

    </ion-item-sliding>


    <ion-item-sliding>
      <a href="/communication">

      <ion-item [button]="true">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://cdn.pixabay.com/photo/2017/01/31/22/32/cartoon-2027771_640.png" />
        </ion-avatar>
        <ion-label>Bender</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="warning">
          <ion-icon slot="icon-only" name="pin"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable="true">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  </a>

    </ion-item-sliding>

    <ion-item-sliding>
      <a href="/communication">

      <ion-item [button]="true">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://cdn.pixabay.com/photo/2017/03/14/03/20/woman-2141808_640.jpg" />
        </ion-avatar>
        <ion-label>Bender</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="warning">
          <ion-icon slot="icon-only" name="pin"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable="true">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  </a>

    </ion-item-sliding>

    <ion-item-sliding>
      <a href="/communication">

      <ion-item [button]="true">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://cdn.pixabay.com/photo/2020/04/09/19/19/cartoon-doctor-5022797_640.jpg" />
        </ion-avatar>
        <ion-label>Bender</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="warning">
          <ion-icon slot="icon-only" name="pin"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable="true">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  </a>

    </ion-item-sliding>

    <ion-item-sliding>
      <a href="/communication">

      <ion-item [button]="true">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://cdn.pixabay.com/photo/2014/12/10/21/01/doctor-563428_1280.jpg" />
        </ion-avatar>
        <ion-label>Bender</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="warning">
          <ion-icon slot="icon-only" name="pin"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable="true">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  </a>

    </ion-item-sliding>

    <ion-item-sliding>
      <a href="/communication">

      <ion-item [button]="true">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://cdn.pixabay.com/photo/2017/03/22/19/07/child-2166079_640.jpg" />
        </ion-avatar>
        <ion-label>Bender</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="warning">
          <ion-icon slot="icon-only" name="pin"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable="true">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  </a>

    </ion-item-sliding>

    <ion-item-sliding>
      <a href="/communication">

      <ion-item [button]="true">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://cdn.pixabay.com/photo/2017/08/10/03/30/stethoscope-2617701_640.jpg" />
        </ion-avatar>
        <ion-label>Bender</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="warning">
          <ion-icon slot="icon-only" name="pin"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable="true">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  </a>

    </ion-item-sliding>

    <ion-item-sliding>
      <a href="/communication">

      <ion-item [button]="true">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://cdn.pixabay.com/photo/2017/01/31/17/25/doctor-2025726_640.png" />
        </ion-avatar>
        <ion-label>Bender</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="warning">
          <ion-icon slot="icon-only" name="pin"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable="true">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  </a>

    </ion-item-sliding>

    <ion-item-sliding>
      <a href="/communication">

      <ion-item [button]="true">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://cdn.pixabay.com/photo/2013/11/28/10/02/man-219928_640.jpg" />
        </ion-avatar>
        <ion-label>Bender</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="warning">
          <ion-icon slot="icon-only" name="pin"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable="true">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  </a>

    </ion-item-sliding>

    <ion-item-sliding>
      <a href="/communication">

      <ion-item [button]="true">
        <ion-avatar aria-hidden="true" slot="start">
          <img alt="" src="https://cdn.pixabay.com/photo/2020/11/02/19/52/doctor-5707722_640.jpg" />
        </ion-avatar>
        <ion-label>BB-8</ion-label>
      </ion-item>
      <ion-item-options slot="end">
        <ion-item-option color="warning">
          <ion-icon slot="icon-only" name="pin"></ion-icon>
        </ion-item-option>
        <ion-item-option color="tertiary">
          <ion-icon slot="icon-only" name="share"></ion-icon>
        </ion-item-option>
        <ion-item-option color="danger" expandable="true">
          <ion-icon slot="icon-only" name="trash"></ion-icon>
        </ion-item-option>
      </ion-item-options>
  </a>

    </ion-item-sliding>
  </ion-list>
</ion-content>