<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>communication</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="primary">
      <ion-row>
    <ion-item fill="outline" class="ion-padding-horizontal" style="width:280px; position: absolute; top: 88%; " >
      <ion-input name="text" placeholder="Ecrivez votre msg..."></ion-input>
    </ion-item>
    <ion-icon name="send" color="warning" size="large" style="position: absolute; top: 89%; left: 85%; "></ion-icon>

      </ion-row>
</ion-content>
