<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="acceuil">
        <!-- Contenu de l'onglet "Acceuil" -->
        <ion-icon name="home"></ion-icon>
        Acceuil
      </ion-tab-button>

      <ion-tab-button tab="calendrier">
        <!-- Contenu de l'onglet "Calendrier" -->
        <ion-icon name="calendar"></ion-icon>
        Réservation
      </ion-tab-button>

      <ion-tab-button tab="chat">
        <!-- Contenu de l'onglet "Chat" -->
        <ion-icon name="chatbubbles"></ion-icon>
        Chat
      </ion-tab-button>

      <ion-tab-button tab="profil">
        <!-- Contenu de l'onglet "Profil" -->
        <ion-icon name="person"></ion-icon>
        Profil
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
